<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		  	   	<div class="row" id="reserve">
   		<p id="rev_text">For Reservations Call Us On: +254716281045, 0726390101, 0726591218</p>
   	</div>
		    <div class="navbar-header">
		      <a class="navbar-brand" ui-sref="#"><img src="assets/LOGO.png" height="80" width="80"></a>
		    </div>
		    <ul class="nav navbar-nav pull-right">
		      <li><a ui-sref="home">HOME</a></li>
		     <li class="active"><a ui-sref="services">OTHER SERVICES</a></li>
		      <li><a ui-sref="policy">RENTAL POLICIES</a></li>
		      <li><a ui-sref="contact">CONTACTS</a></li>
		    </ul>
		  </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<h2 class="text-left">Other Services</h2>
	</div>
	<hr>
</div>
<div class="container">
	<div class="row">
	  <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Tours and Safaris</div>
		<div class="panel-body">
			<img src="assets/tours.jpg" alt="tours" width="250" 
			height="220">
		</div>
<div class="panel-footer">Get the best packages to exotic places in East Africa.
Travel and Explore with Kizusi</div>
		</div>
		</div>
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Hotel Booking</div>
		<div class="panel-body">
			<img src="assets/hotel booking.jpg" alt="tours" width="250" 
			height="220">
		</div>
		<div class="panel-footer">Imagine this the lowest prices in the best hotels, thats right at Kisuzi we got it taken care of, 
     </div>

		</div>
		</div>
		 <div class="col-md-4">

		<div class="panel panel-default">

		<div class="panel-heading">Travel Bookings</div>

		<div class="panel-body">
			<img src="assets/travelagents.jpg" alt="tours" width="250" 
			height="220">

		</div>

		<div class="panel-footer">Travelling is amazing not until the itinrary list hits your face , Let us handle the headache as you enjoy your journey</div>
		</div>
		</div>
	</div>
 
	<div class="row">
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Graphic Design</div>
		<div class="panel-body">
			<img src="assets/graphic-design.jpg" alt="tours" width="250" 
			height="220">
         
		</div>
<div class="panel-footer">Brochures, flyers , banners , t-shirts make that lasting impression with the best graphic designs in town.</div>
	
		</div>
		</div>
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Fashion</div>
		<div class="panel-body">
			<img src="assets/fashion.png" alt="tours" width="250" 
			height="220">
       
	
		</div>
<div class="panel-footer">From Tom Ford to Raybans we got u looking sharp and latest</div>
		</div>
		</div>
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Alminium Partitioning</div>
		<div class="panel-body">
			<img src="assets/alum.jpg" alt="tours" width="250" 
			height="220">

		</div>
<div class="panel-footer">Give your office an uplift with the coolest tech in town
             </div>
		</div>
		</div>
	</div>
	<div class="row">
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Drivers For Hire</div>
		<div class="panel-body">
			<img src="assets/driver.jpg" alt="tours" width="250" 
			height="220">

		
	
		</div>
<div class="panel-footer">Our drivers are certified and verified by the 
                NTSA and CID government departments.</div>
		</div>
		</div>
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Video Coverage</div>
		<div class="panel-body">
			<img src="assets/video coverage.jpg" alt="tours" width="250" 
			height="220">
                  
		
	
		</div>
<div class="panel-footer">From Weddings to Co-operate we got you covered.</div>
		</div>
		</div>
		 <div class="col-md-4">
		<div class="panel panel-default">
		<div class="panel-heading">Event Orgainsation</div>
		<div class="panel-body">
			<img src="assets/events.jpg" alt="tours" width="250" 
			height="220">

		
	
		</div>
<div class="panel-footer">Got an event coming up, lets take away the headache of
          planning and lets make that event epic.</div>
		</div>
		</div>
	</div>
</div>
