<br>
<br>
<br>
<div class="container">
	<div class="row">
    <div class="col-md-offset-2 col-md-8 well">
      
	    <form  name="upload_form">
		    <label>Upload Driving License</label>	    
        <input 
               type="file" 
               ngf-select 
               ng-model="file" 
               name="file" 
               ngf-pattern="'image/*'"
               accept="image/*" 
               ngf-max-size="20MB" 
               />
            Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
            <i ng-show="upload_form.file.$error.required">*required</i><br>
            <i ng-show="upload_form.file.$error.maxSize">File too large 
            {{file.size / 1000000|number:1}}MB: max 20M</i>
            <button type="submit" ng-click="submit()">upload</button>

</form>
     
      
    </div>
  </div>
</div> 
<br>
<br>
<br>
<br>
<br>

    
